# Binary and intermediate directories
bin/
obj/

# Application generated log files
Logs/
*.log

# Build systems
Makefile
*.make

# Linux binaries
.so
.a

# Visual Studio Code files
.vscode/

# Windows binaries
*.exe
*.lib
.bat

# Visual Studio files
.vs/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# dependencies
vendor/glfw
